<div class="row" style="padding-top:10px">
    <div *ngFor='let product of products' class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img [src]="product.imgSrc" />
            <div class="caption">
                <h4 class="pull-right">{{product.price}}</h4>
                <h5><a [routerLink]="['/product',product.title]">{{product.title}}</a></h5>
                <p>{{product.desc}}</p>
            </div>
            <div>
                <app-start [rating]="product.rating"></app-start>
            </div>
        </div>
    </div>
</div>